body {
  background-color: rgb(248, 247, 247);
  padding: 0%;
  margin: 0%;
}

h1 {
  text-align: center;
  background-color: rgb(240, 19, 30);
  margin: 0%;
  padding: 10px;
}

h2, h3, h4 {
  text-align: center;
}

h2, h3 {
  font-size: 35px;
  text-decoration: underline;
}

h3 {
  font-size: 25px;
}

#movie-description {
  text-align: center;
}

#image-container {
  text-align: center;
}

.pane {
  float: left;
  margin: 1.5%;
}

#leftpane {
  width: 26%;
  padding: 10px;
  /* border-style: solid;
  border-radius: 5px;
  border-color: black; */
}

#centerpane {
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(240, 19, 30);
  width: 40%; 
}

#rightpane {
  width: 15%;
  padding: 0px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(240, 19, 30);
}

#searchWrapper {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.activeWrapper {
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(240, 19, 30);
}


#searchbar {
  width: 90%;
  height: 30px;
  padding: 2% 5%;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  border-color: rgb(240, 19, 30);
  box-shadow: 0px 1px 5px lightgray;
}

#searchlist li {
  padding: 5px 12px;
  list-style-type: none;
  cursor: pointer;
  overflow-y: auto;
}

.inactiveList li{
  opacity: 0;  
  pointer-events: none; 
  display: none; 
}

#searchlist li:hover {
  /* background: lightgray; */
  background: rgb(240, 19, 30);
  color:white;
}

/* #searchIcon {
  height: 35px;
  position: absolute;
  right: 3%;
  top: 10px;
  text-align: center;
  font-size: 20px;
  color: rgb(240, 19, 30);
  cursor: pointer;
} */

#categories {
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(240, 19, 30);
  padding: 5px;
  margin-bottom: 10%;
}

.helptext {
  margin: 0%;
  text-align: center;
  background-color: black;
  color: white;
}

ul {
  padding-left: 0%;
}

.listcategories {
  list-style-type: none;
  padding: 10px;
  text-align: center;
  text-decoration: underline;
  overflow-y: auto;
}

.listcategories:hover {
  background-color: rgb(240, 19, 30);
  color: white;
  cursor: pointer;
}

#myList, #addToMyList {
  cursor: pointer;
  text-align: center;
  position: relative;
  padding: 15px;
  left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
  background-color: rgb(226, 147, 147);
  color: black;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
}

/* #myList:hover, #addToMyList:hover {
  background-color: rgb(240, 19, 30);
  color: white;
} */
#myList:active, #addToMyList:active {
  transition: 0s;
  background-color: rgb(240, 19, 30);
  color: white;
}


img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

#description-container {
  background-color: lightgray;
  padding: 2.5%;
  border-style: dotted;
  border-radius: 2px;
  border-color: black;
}

