body {
  background-color: rgb(248, 247, 247);
  padding: 0%;
  margin: 0%;
}

h1 {
  text-align: center;
  background-color: rgb(240, 19, 30);
  margin: 0%;
  padding: 10px;
}

h2, h3 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

#movie-description {
  text-align: center;
}

#image-container {
  text-align: center;
}

.pane {
  float: left;
  width: 25%;
  margin: 2%;
}

#leftpane {
  width: 20%;
  /* height: 50%; */
  padding: 10px;
  /* margin: 1%; */
  /* border-style: solid;
  border-radius: 5px;
  border-color: black; */
  /* position: absolute; */
}

#centerpane {
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(240, 19, 30);
  width: 40%; 
}

#rightpane {
  width: 13%;
  padding: 0px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(240, 19, 30);
}


#searchbar {
  padding: 10px 20px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(240, 19, 30);
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 10%;
}

#categories {
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(240, 19, 30);
  padding: 5px;
  margin-bottom: 10%;
}

.helptext {
  margin: 0%;
  text-align: center;
  background-color: black;
  color: white;
}

ul {
  padding-left: 0%;
}

.listcategories {
  list-style-type: none;
  padding: 10px;
  text-align: center;
  text-decoration: underline;
}

.listcategories:hover {
  background-color: rgb(240, 19, 30);
  color: white;
  cursor: pointer;
}

#myList {
  cursor: pointer;
  text-align: center;
  position: relative;
  padding: 15px;
  left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
  background-color: black;
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
}

#myList:hover {
  background-color: rgb(240, 19, 30);
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

#description-container {
  background-color: lightgray;
  padding: 2.5%;
  border-style: dotted;
  border-radius: 2px;
  border-color: black;
}

